.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  text-align: center;
}

.advantages__title {
  text-align: center;
  font-size: @main-font-size;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  line-height: @main-line-height;
}

.advantages__desc {
  text-align: center;
  text-transform: uppercase;
  line-height: @main-line-height;
}

.advantages__icons {
  padding: 35px 25px;
}

.advantage {
  &--blue {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: @main-blue;
    padding: 84px 0 39px 0;
    text-align: center;
  }

  &--gray {
    background: @bg-gray;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    padding-top: 25px;
    text-align: center;

    &::after {
      content: ".";
      width: 70%;
      background: #d6d6d6;
      height: 1px;
    }

    &:nth-last-child(1)::after {
      display: none;
    }
  }

  text-align: left;
}

.advantage .advantage__title {
  color: #000000;
}

.advantage .advantage__number {
  color: #000000;
}

.advantage .advantage__desc {
  color: #000000;
  width: 68%;
}

.advantage__title {
  color: #ffffff;
  font-size: @main-font-size;
  line-height: @main-line-height;
  text-transform: uppercase;
}

.advantage.advantage--blue .advantage__title {
  color: #ffffff;
}

.advantage.advantage--blue .advantage__number {
  color: #ffffff;
}

.advantage.advantage--blue .advantage__desc {
  color: #ffffff;
}

.advantage__number {
  line-height: @main-line-height;
  color: #ffffff;
  text-align: center;

  &::before {
    content: "-";
  }

  &::after {
    content: "-";
  }
}

.advantage__triangle {
  position: absolute;
  top: 0;
  width: 100%;
}

.advantage__desc {
  text-transform: uppercase;
  color: #ffffff;
  line-height: @main-line-height;
}

.advantage__image {
  width: 100%;
}

.advantage__image img {
  width: 100%;
}

.advantage__icon {
  &-title {
    text-transform: uppercase;
    font-size: @main-font-size;
    line-height: @main-line-height;
  }

  &-desc {
    text-transform: uppercase;
    font-size: @main-font-size;
    line-height: @main-line-height;
    width: 75%;
    padding-left: 45px;
  }
}
