.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  text-align: center;
}

.advantages__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advantages__title {
  text-align: center;
  font-size: @main-font-size;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  line-height: @main-line-height;
  margin: 0 auto;
  width: 80%;
}

.advantages__desc {
  text-align: center;
  text-transform: uppercase;
  line-height: @main-line-height;
  margin-top: 31px;
  font-size: 14px;
  width: 92%;
}

.advantages__icons {
  padding: 26px 25px;
}

.advantages__gray {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 768px) {
  .advantages {
    padding-top: 31px;
  }

  .advantages__title {
    font-size: 21px;
    width: 84%;
  }

  .advantages__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
  }

  .advantages__icons {
    display: flex;
    flex-direction: row;
    padding: 60px 3px;
    padding-bottom: 48px;
  }

  .advantages__icons .advantage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .advantages__gray {
    flex-direction: row;
    align-items: baseline;
    max-height: 256px;
    background-color: @bg-gray;
    padding-bottom: 25px;
  }
}

@media (min-width: 1280px) {
  .advantages {
    padding-top: 41px;
  }

  .advantages__gray {
    width: 100%;
  }

  .advantages__icons {
    padding: 55px 0;
    padding-bottom: 72px;
  }
}
