.advantage {
  width: 100%;

  &--blue {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: @main-blue;
    text-align: center;

    &:nth-last-child(2) {
      .advantage__title {
        color: @white;
        padding-top: 34px;
      }
    }

    .advantage__title {
      color: @white;
      padding-top: 70px;
      width: 70%;
    }

    .advantage__number {
      color: @white;
      padding-top: 15px;
    }

    .advantage__desc {
      color: @white;
      padding-bottom: 15px;
    }
  }

  &--gray {
    background: @bg-gray;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 9px;
    padding-top: 25px;
    text-align: center;

    &::after {
      content: "";
      width: 70%;
      background: #d6d6d6;
      height: 1px;
    }

    &:nth-last-child(1)::after {
      display: none;
    }

    .advantage__title {
      color: @black;
    }

    .advantage__number {
      color: @black;
    }

    .advantage__desc {
      color: @black;
      width: 90%;
    }
  }

  text-align: left;
}

.advantage__title {
  color: @white;
  font-size: @main-font-size;
  line-height: @main-line-height;
  text-transform: uppercase;
}

.advantage__number {
  line-height: @main-line-height;
  color: @white;
  text-align: center;

  &::before {
    content: "-";
  }

  &::after {
    content: "-";
  }
}

.advantage__triangle {
  position: absolute;
  top: 0;
  width: 100%;
}

.advantage__desc {
  text-transform: uppercase;
  color: #ffffff;
  line-height: @main-line-height;
}

.advantage__image {
  width: 100%;
}

.advantage__image-item {
  width: 100%;
  max-height: 260px;
}

.advantage__icon-title {
  text-transform: uppercase;
  font-size: @main-font-size;
  line-height: @main-line-height;
}

.advantage__icon-desc {
  text-transform: uppercase;
  font-size: @main-font-size;
  line-height: @main-line-height;
  padding-left: 45px;
}

.advantage__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 221px;
}

@media (min-width: 768px) {
  .advantage__triangle {
    display: none;
  }

  .advantage {
    height: min-content;
    flex-direction: row;
    width: 100%;

    &--gray {
      max-height: 256px;

      .advantage__title {
        width: 53%;
      }

      &::after {
        display: none;
      }

      &:nth-child(2) {
        order: -1;

        .advantage__desc {
          width: 66%;
        }
      }

      &:nth-child(3) {
        .advantage__desc {
          width: 70%;
        }
      }
    }

    &--first {
      margin-top: 50px;
    }

    &--blue {
      .advantage__desc {
        width: 86%;
      }
    }
  }

  .advantage__image {
    width: 66%;
    height: 256px;
    flex-shrink: 0;
  }

  .advantage--blue .advantage__title {
    padding-top: 0;
  }

  .advantage--blue .advantage__desc {
    padding-bottom: 0;
  }

  .advantage__image-item {
    max-width: 100%;
    max-height: 256px;
  }

  .advantage__desc {
    width: 90%;
  }

  .advantage--blue-right .advantage__text {
    order: 2;
  }

  .advantage__icon-desc {
    padding-left: 0;
    width: 95%;
  }

  .advantage__text {
    margin: 0 auto;
  }

  .advantage:nth-child(1) {
    order: -1;
  }

  .advantage:nth-child(3) {
    order: -1;
  }

  .advantage__icon {
    width: 75px;
    height: 75px;
    margin-top: 20px;
  }

  .advantage__icon-title {
    padding-top: 26px;
  }
}

@media (min-width: 1280px) {
  .advantage--blue .advantage__text:nth-child(1) {
    order: 1;
  }

  .advantage--blue .advantage__text:nth-child(2) {
    order: 0;
  }

  .advantage__image {
    width: 800px;
    height: 256px;
  }

  .advantage {
    &--gray {
      min-height: 256px;
    }
  }
}
