.find-hotel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-hotel__button {
  background: #81b3d2;
  color: @white;
  text-align: center;
  text-transform: uppercase;
  padding: 17px 32px;
  width: 70%;
  font-size: 26px;
  font-weight: bold;

  &:hover {
    background-color: #669ec0;
  }
}

.find-hotel__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
}

.find-hotel__desc {
  text-align: center;
  text-transform: uppercase;
  line-height: @main-line-height;
  width: 75%;
}
