.find-hotel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 12px;
}

.find-hotel__button {
  background: @main-blue;
  color: @white;
  text-align: center;
  text-transform: uppercase;
  padding: 18px 32px;
  font-size: 21px;
  font-weight: bold;
  width: 88%;

  &:hover {
    background-color: @main-blue-hover;
  }

  &:active {
    background-color: @main-blue-down;
    color: rgba(255, 255, 255, 0.3);
  }
}

.find-hotel__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 21px;
  margin-bottom: 8px;
}

.find-hotel__desc {
  text-align: center;
  text-transform: uppercase;
  line-height: @main-line-height;
  font-size: 14px;
  padding-bottom: 10px;
  width: 89%;
}

@media (min-width: 768px) {
  .find-hotel {
    padding-top: 26px;
  }

  .find-hotel__title {
    font-size: 30px;
  }

  .find-hotel__desc {
    width: 60%;
    padding-bottom: 28px;
  }

  .find-hotel__button {
    width: 63%;
  }
}

@media (min-width: 1280px) {
  .find-hotel {
    width: 70%;
    padding-top: 28px;
    padding-bottom: 14px;
  }

  .find-hotel__desc {
    width: 48%;
    padding-bottom: 31px;
  }

  .find-hotel__button {
    width: 55%;
  }
}
