.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 140px;
  width: 100%;
}

.footer__copyright-title {
  margin-right: 6px;
}

.footer__hashtag {
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
}

.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 26px;
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .footer__copyright {
    padding-bottom: 0;
  }
}
