.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 38px;
  width: 100%;

  &--other {
    padding-top: 103px;
  }
}

.footer__copyright-title {
  margin-right: 9px;
  font-size: 14px;
}

.footer__hashtag {
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
}

.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding-top: 23px;
  padding-bottom: 26px;
}

.footer__academy-logo {
  &:hover {
    fill: @main-blue;
  }

  &:active {
    fill: #e7e5e5;
  }
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 59px 36px 59px;
  }

  .footer__hashtag {
    margin-top: 0;
    margin-bottom: 52px;
  }

  .footer__copyright {
    padding-bottom: 39px;
    padding-top: 0;
  }
}

@media (min-width: 1200px) {
  .footer {
    padding: 0px 119px 28px 119px;
  }

  .footer__hashtag {
    margin-bottom: 7px;
  }

  .footer__copyright {
    padding-top: 32px;
  }
}
