.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 22px;
}

.form__title {
  text-align: center;
  text-transform: uppercase;
  font-size: @main-font-size;
}

.form__desc {
  text-align: center;
  text-transform: uppercase;
  line-height: @main-line-height;
  width: 100%;
  font-size: 14px;
}

.form__meet,
.form__contact {
  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: #ffffff;
    border: 4px solid #e5e5e5;
    height: 50px;
  }
}

.form__line {
  &--meet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 20px;
  }

  &--contacts {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &--atraction {
    padding-left: 6px;
  }

  &--emotion {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.form__line-title {
  padding-top: 20px;
  text-align-last: left;
  text-transform: uppercase;
  font-size: 14px;

  &--required {
    display: none;
  }

  &--meet {
    padding-right: 24px;
  }

  &--contacts {
    margin-left: 20px;
    margin-bottom: 5px;
    padding-bottom: 7px;
  }

  &--toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    font-weight: bold;
    font-size: @main-font-size;
    text-transform: inherit;
    padding-left: 5px;

    &::before {
      content: "";
      display: inline-block;
      width: 48px;
      height: 48px;
      position: relative;
      left: 0;
      bottom: 1px;
      background-color: @inputs-bg;
      border-radius: 50%;
      margin-right: 30px;
    }

    &:hover::before {
      background-color: #e5e5e5;
    }

    &:active::before {
      background-color: #d5d5d5;
    }
  }

  &--check {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    text-transform: capitalize;
    font-size: @main-font-size;
    padding-bottom: 14px;

    &::before {
      content: "";
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 30px;
      left: 0;
      bottom: -12px;
      background-color: #f2f2f2;
      width: 46px;
      height: 46px;
    }

    &:hover::before {
      background-color: #e5e5e5;
    }

    &:active::before {
      background-color: #d5d5d5;
    }
  }
}

.form__legend {
  text-align: center;
  text-transform: uppercase;
  font-size: @main-font-size;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;

  &--meet {
    padding-top: 39px;
    padding-bottom: 5px;
  }

  &--contacts {
    padding-top: 62px;
    padding-bottom: 5px;
  }

  &--impression {
    padding-top: 67px;
    padding-bottom: 11px;
  }

  &--atraction {
    line-height: @main-line-height;
    padding-top: 63px;
    padding-bottom: 8px;
  }

  &--emotion {
    padding-top: 54px;
  }
}

.form__atraction {
  display: none;

  &:checked + .form__line-title--check::before {
    content: url("../img/icon-tick.svg");
    vertical-align: middle;
    text-align: center;
  }

  &:hover::before {
    background-color: #e5e5e5;
  }
}

.form__impression {
  display: none;

  &:checked + .form__line-title--toggle::before {
    background-color: @black;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 15px solid @inputs-bg;
    margin-right: 30px;
  }

  &:hover::before {
    background-color: #e5e5e5;
  }
}

.form__meet {
  width: 80%;
  height: 58px;
  font-weight: bold;
  background: @inputs-bg;
  border: 0;
  outline: 0;
  text-indent: 18px;
  font-size: @main-font-size;
}

.form__contact {
  width: 90%;
  height: 58px;
  font-weight: bold;
  background: @inputs-bg;
  border: 0;
  outline: 0;
  text-indent: 18px;
  font-size: @main-font-size;
}

.form__textarea {
  background: @inputs-bg;
  padding-left: 22px;
  padding-top: 13px;
  width: 100%;
  min-height: 160px;
  font-weight: bold;
  line-height: @main-line-height;
  outline: none;
  border: none;
  font-size: 18px;

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: @white;
    border: 4px solid #e5e5e5;
  }
}

.form__contact-icon {
  position: absolute;
  width: 60px;
  height: 60px;
  background: #e6e6e6;
  right: 0;
  bottom: 0;

  &::after {
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
  }

  &--phone {
    &::after {
      content: url("../img/icon-phone.svg");
      position: absolute;
    }
  }

  &--email {
    &::after {
      content: url("../img/icon-mail.svg");
      position: absolute;
    }
  }
}

.form__submit-button {
  display: flex;
  width: 88%;
  justify-content: center;
  background: #81b3d2;
  color: @white;
  text-align: center;
  text-transform: uppercase;
  padding: 17px 32px;
  font-size: 21px;
  font-weight: bold;
  border: 0;
  margin: 0 auto;
  margin-top: 50px;
  white-space: nowrap;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: @main-blue-hover;
  }
}

.form__submit-help {
  display: none;
}

@media (min-width: 768px) {
  .form__textarea {
    width: 92%;
    margin-left: 34px;
  }

  .form__header {
    padding-top: 32px;
  }

  .form__title {
    margin-bottom: 14px;
    font-size: 30px;
  }

  .form__submit-button {
    margin-left: 59px;
    width: 42%;
    margin-top: 59px;
  }

  .form__submit-help {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    line-height: @main-line-height;
    text-transform: uppercase;
    margin-top: -40px;
    padding-right: 8%;
  }

  .form__contact {
    width: 83%;
    margin: 0 auto;
  }

  .form__contact-icon {
    height: 58px;
    right: 3%;
  }

  .form__desc {
    width: 57%;
    padding-bottom: 63px;
  }

  .form__legend {
    padding-bottom: 54px;
    font-size: 21px;

    &--contacts {
      flex-basis: 100%;
      padding-top: 103px;
      padding-left: 32px;

      &::before {
        content: "";
        position: absolute;
        width: 17%;
        height: 1px;
        background: #dbdbdb;
        left: 7%;
        top: 27%;
      }

      &::after {
        content: "";
        position: absolute;
        width: 17%;
        height: 1px;
        background: #dbdbdb;
        right: 7%;
        top: 27%;
      }
    }

    &--atraction {
      flex-basis: 100%;
      margin-left: 36px;
      line-height: @main-line-height;

      &::before {
        content: "";
        position: absolute;
        width: 17%;
        height: 1px;
        background: #dbdbdb;
        left: 7%;
        top: 22%;
      }

      &::after {
        content: "";
        position: absolute;
        width: 17%;
        height: 1px;
        background: #dbdbdb;
        right: 7%;
        top: 22%;
      }
    }

    &--emotion {
      padding-top: 97px;
      margin-left: 33px;
      line-height: @main-line-height;

      &::before {
        content: "";
        position: absolute;
        width: 17%;
        height: 1px;
        background: #dbdbdb;
        left: 6%;
        top: 32%;
      }

      &::after {
        content: "";
        position: absolute;
        width: 17%;
        height: 1px;
        background: #dbdbdb;
        right: 6%;
        top: 32%;
      }
    }

    &--atraction {
      padding-top: 40px;
    }
  }

  .form__line {
    &--atraction {
      flex-basis: 37%;
      margin: 0 auto;
      margin-right: 0;
    }

    &--impression {
      padding-bottom: 15px;
    }

    &--contacts {
      flex-basis: 45%;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      margin-bottom: 62px;
      margin-top: -49px;

      &:nth-child(3) {
        flex-basis: 52%;
      }
    }
  }

  .form__impression:checked + .form__line-title--toggle::before {
    margin-right: 24px;
  }

  .form__line-title {
    &--required {
      display: inline;
    }

    &--toggle {
      padding-top: 11px;

      &::before {
        margin-right: 24px;
      }
    }

    &--contacts {
      padding-right: 3%;
      margin-left: 80px;
      white-space: nowrap;
    }
  }
}

@media (min-width: 1200px) {
  .form__submit-help {
    padding-right: 10%;
  }

  .form__header {
    padding-top: 86px;
  }

  .form__desc {
    width: 53%;
  }

  .form__legend {
    &--contacts {
      padding-top: 71px;
    }

    &--atraction {
      padding-top: 109px;
    }

    &--emotion {
      padding-top: 88px;
    }
  }

  .form__line {
    &--contacts {
      flex-direction: row;
    }

    &--atraction {
      flex-basis: 22%;
    }
  }

  .form__line-title {
    &--required {
      display: inline;
    }

    &--phone-mark {
      display: none;
    }
  }

  .form__textarea {
    width: 86%;
    margin-left: 42px;
  }

  .form__submit-button {
    margin-left: 121px;
    width: 40%;
    margin-top: 59px;
  }
}
