.form-fieldsets__item {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -17px;

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background: #e5e5e5;
    margin-bottom: 16px;
    top: 0;
  }

  &--emotion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .form-fieldsets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }

  .form-fieldsets__item {
    padding-left: 33px;
    padding-right: 33px;

    &::before {
      display: none;
    }

    &--impression {
      order: -1;
      border-right: 1px solid @main-border;
    }

    &--contacts {
      width: 100%;
    }

    &--atraction {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    &--emotion {
      width: 96%;
    }
  }
}

@media (min-width: 1200px) {
  .form-fieldsets__item {
    &--impression {
      padding-right: 20%;
    }

    &--meet {
      width: 48%;
      padding-left: 10%;
    }

    &--contacts {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}
