.header {
  background: url("../img/bg-back-mobile@1x.webp") no-repeat center top / cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 440px;
  width: 100%;

  @media (min-resolution: 2dppx) {
    background: url("../img/bg-back-mobile@2x.webp") no-repeat center top / cover;
  }

  &--other {
    max-height: 214px;
  }
}

.header__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: @white;
  height: 56px;
  width: 480px;
  position: absolute;
  top: 0;
  left: 0;
}

.header__title {
  display: flex;
  justify-content: center;
  padding-top: 52px;
}

.header__title-image {
  width: 80%;
}

.header__triangle {
  position: absolute;
  bottom: -4px;
  margin-top: 28px;
  width: 100%;
}

.header__triangle-item {
  width: 100%;
}

@media (min-width: 768px) {
  .header {
    background: url("../img/bg-back-tablet@1x.webp") no-repeat center top / cover;

    @media (min-resolution: 2dppx) {
      background: url("../img/bg-back-tablet@2x.webp") no-repeat center top / cover;
    }

    &--other {
      max-height: 330px;
    }
  }

  .header__title-image {
    width: 100%;
  }
}

@media (min-width: 1280px) {
  .header {
    background: url("../img/bg-back-desktop@1x.webp") no-repeat center top;

    @media (min-resolution: 2dppx) {
      background: url("../img/bg-back-desktop@2x.webp") no-repeat center top / cover;
    }

    &--other {
      max-height: 350px;
    }

    height: 515px;
  }

  .header__title {
    padding: 0;
  }
}
