.header {
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat center top / cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 440px;
}

.header__burger-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  bottom: 35px;
  z-index: 2;
  width: 23px;
  height: 4px;
  background-color: @main-blue;
  margin-right: 17px;
  border: 0;

  &::before {
    content: " ";
    width: 23px;
    height: 4px;
    background-color: @main-blue;
    margin-top: 7px;
  }

  &::after {
    content: " ";
    width: 23px;
    height: 4px;
    background-color: @main-blue;
    margin-top: 3px;
  }

  &--closed {
    display: none;
  }
}

.header__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: @white;
  height: 56px;
  width: 480px;
  position: absolute;
  top: 0;
  left: 0;
}

.header__title {
  display: flex;
  justify-content: center;
  padding-top: 52px;
}

.header__title-image {
  width: 80%;
}

.header__triangle {
  position: absolute;
  bottom: -4px;
  margin-top: 28px;
  width: 100%;
}

.header__triangle-item {
  width: 100%;
}

@media (min-width: 768px) {
  .header {
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat center top / cover;
  }

  .header__burger-menu {
    display: none;
  }

  .header__title-image {
    width: 95%;
  }
}

@media (min-width: 1280px) {
  .header {
    background: url("../img/bg-back-desktop@1x.jpg") no-repeat center top;
  }


}
