.menu {
  position: relative;
  margin: 0;
  padding: 0;
}

.close {
  display: none;
}

.menu__close {
  background: url("../../img/icon-cross.svg") no-repeat center;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 60px;
  background-size: 23px 22px;
  border: none;
  outline: none;
}

.menu__links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__link {
  text-align: center;
  text-transform: uppercase;
  order: 100;
  min-height: 55px;
  font-weight: 700;
  font-size: 18px;
  line-height: 55px;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;

  &--logo {
    height: 58px;
    z-index: 2;
    border-top-style: none;
    border: none;
  }
}

.menu__link-item {
  display: block;
  color: @white;
  white-space: nowrap;
  background-color: @main-blue;

  &:hover {
    background-color: @main-blue-hover;
  }
}

@media (min-width: 768px) {
  .menu__links {
    flex-direction: row;
    justify-content: space-around;
    height: 55px;
  }

  .menu__close {
    display: none;
  }

  .menu__link {
    display: block;
    border: none;

    &:nth-child(1) {
      order: 1;
    }

    &:nth-child(2) {
      order: 2;
    }

    &--logo {
      order: 3;
      z-index: 2;
    }
  }

  .menu__link-item {
    font-size: 14px;
    color: #000;
    background-color: #fff;
  }

  .menu__link-logo {
    display: block;
    width: 102px;
    height: 83px;
    margin: 0 auto;
  }

  .menu__logo {
    max-width: 100%;
    height: auto;
  }
}
