.photos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photos__header {
  text-align: center;
  font-size: @main-font-size;
  line-height: @main-line-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 40px;
}

.photos__desc {
  width: 67%;
}

.photo {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 25px;
  border-top: 1px solid #e5e5e5;

  &:nth-last-child(1) {
    border-bottom: 1px solid #e5e5e5;
  }
}

.photo__title {
  font-weight: bold;
}

.photo__likes-quantity {
  margin-left: 14px;
  font-weight: bold;
}
