.photos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photos__title {
  text-transform: uppercase;
  font-size: 18px;
}

.photos__header {
  text-align: center;
  font-size: @main-font-size;
  line-height: @main-line-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 21px;
  padding-bottom: 40px;
}

.photos__desc {
  width: 96%;
  text-transform: uppercase;
  font-size: 14px;
  padding-left: 12px;
  padding-right: 12px;
}

.photos__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (min-width: 768px) {
  .photos__block {
    flex-direction: row;
    width: 648px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .photos__desc {
    width: 65%;
  }

  .photos__title {
    font-size: 2em;
  }
}

@media (min-width: 1280px) {
  .photos__block {
    width: 100%;
  }

  .photos__desc {
    width: 58%;
  }
}
