.photo {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 0 30px 0;
  border-top: 1px solid #e5e5e5;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
  }
}

.photo__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.photo__author {
  font-size: 14px;
}

.photo__likes-quantity {
  margin-left: 14px;
  font-weight: bold;
  font-size: 14px;
}

@media (min-width: 768px) {
  .photo {
    border: none;
    padding: 0;

    &::after {
      display: none;
    }
  }

  .photo__author {
    margin-bottom: 19px;
  }

  .photo__desc {
    position: relative;
    background-color: @inputs-bg;
    width: 100%;
    text-align: left;
    padding: 0 20px;
  }

  .photo__likes {
    position: absolute;
    right: 5%;
    top: 34%;

    &--big {
      right: 3%;
      top: 31%;
    }

    &--small {
      right: 7%;
      top: 30%;
      display: flex;
      align-items: center;
    }
  }

  .photo__likes-icon {
    fill: #a4a4a4;
  }
}

@media (min-width: 1200px) {
  .photo__desc {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: @white;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .photo__likes {
    right: 3%;

    &--big {
      right: 13px;
    }

    &--small {
      right: 6%;
    }
  }

  .photo__likes-icon {
    fill: @white;
  }
}
