.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 33px;
  padding-bottom: 40px;
}

.find-hotel__button {
  background: #81b3d2;
  color: @white;
  text-align: center;
  text-transform: uppercase;
  padding: 17px 32px;
  width: 70%;
  font-size: 26px;
  font-weight: bold;
}

.presentation__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
}

.presentation__desc {
  text-align: center;
  text-transform: uppercase;
  line-height: @main-line-height;
  width: 70%;
}

.presentation__image {
  width: 100%;
}
