.social-links__list {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-top: 10px;
}

.social-links__item {
  width: 46px;
  height: 48px;
  background: @main-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;

  &:hover {
    background-color: #669ec0;
  }
}

.social-links__item-image {
  &:active {
    fill: #87b5d1;
  }
}

@media (min-width: 768px) {
  .social-links {
    margin-right: 11px;
  }
}
