@font-face {
  font-family: "PT Sans";
  src: local("ptsans"),
    url("../fonts/ptsans.woff") format("woff2"),
    url("../fonts/ptsans.woff2") format("woff");
}

@font-face {
  font-family: "PT Sans";
  src: local("ptsans"),
    url("../fonts/ptsansbold.woff") format("woff2"),
    url("../fonts/ptsansbold.woff2") format("woff");
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

body {

  font-family: @main-font;
}

a {
  text-decoration: none;
}
