@font-face {
  font-family: @main-font;
  src: local("ptsans"),
    url("../fonts/ptsans.woff") format("woff"),
    url("../fonts/ptsans.woff2") format("woff2");
}

body {
  width: 480px;
  font-family: @main-font;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input:invalid {
  border: none;
  outline: none;
}
